.contacto-formulario{
    margin-bottom: 50px;
    margin-top: 160px;
}

.contacto-h1{
    margin-top: 150px;
    text-align: center;
}


@media (max-width: 600px) {
    .contacto-h1{
        margin-top: 20px;
        text-align: center;
    }
    
  }