/* NoticiaDetalle.css */
.noticia-detalle {
  max-width: 800px;
  margin: 100px auto; /* Añade un margen superior de 50px */
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background-color: #ffffff;
  border-radius: 20px; /* Ajusta el radio del borde para que sea consistente */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Opcional: añade una sombra para resaltar la tarjeta */
}

.noticia-detalle img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px; /* Añade un margen inferior a la imagen */
}

.noticia-detalle h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px; /* Añade un margen inferior al título */
}

.noticia-detalle p {
  font-size: 18px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 20px; /* Añade un margen inferior a los párrafos */
}

.noticia-detalle .fecha-publicacion {
  font-size: 14px;
  color: #999;
}
