.footer {
    background-color: rgba(128, 128, 128, 0.605);
    color: rgba(255, 255, 255, 0.579);
    padding: 20px 0;
    width: 100%;
  }
  
  .footer-columnas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en varias líneas si no hay suficiente espacio */
  }
  
  .column {
    flex: 1;
    text-align: center;
    min-width: 200px; /* Establece un ancho mínimo para cada columna */
    margin: 10px; /* Agrega un margen para dar espacio entre las columnas */
  }
  
  .column h2 {
    font-size: 1.2em;
  }
  
  .column p {
    font-size: 1em;
  }
  
  .derechos {
    margin-top: 40px;
    margin-bottom: 1px;
    text-align: center;
  }
  