/* NoticiasTarjeta.css */
.noticias-tarjeta {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    width: calc(33% - 40px);
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #fff;
  }
  
  .noticias-tarjeta:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .noticias-tarjeta img {
    width: 80%;
    height: auto;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .noticias-tarjeta h2 {
    font-size: 20px;
    color: #333;
  }
  
  .noticias-tarjeta p {
    font-size: 16px;
    color: #666;
  }
  
  .noticias-tarjeta a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .noticias-tarjeta a:hover {
    background-color: #0056b3;
  }
  
  .noticias-tarjeta p.fecha {
    font-size: 0.8em; /* Ajusta el tamaño de la letra */
    color: #938989; /* Ajusta el color de la letra */
    margin-top: -20px; /* Ajusta el espacio entre el título y la fecha */
  }
  