/* NoticiasTarjeta.css */
.noticias-tarjeta {
    padding: 20px;
    margin: 20px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 var(--color-card-shadow);
    transition: 0.3s;
    background-color: var(--color-card-container);
  }
  
  .noticias-tarjeta:hover {
    box-shadow: 0 8px 16px 0 var(--color-card-shadow-hover);
  }
  
  .noticias-tarjeta img {
    width: 80%;
    height: auto;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .noticias-tarjeta h2 {
    font-size: 20px;
    color: var(--color-card-text);
  }
  
  .noticias-tarjeta p {
    font-size: 16px;
    color: var(--color-card-text);
  }
  
  .noticias-tarjeta a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: var(--color-primary);
    color: var(--color-card-text);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px 0 var(--color-card-shadow);
  }
  
  .noticias-tarjeta a:hover {
    background-color: var(--color-primary);
    box-shadow: 0 8px 16px 0 var(--color-card-shadow-hover);
  }
  
  .noticias-tarjeta p.fecha {
    font-size: 0.8em; /* Ajusta el tamaño de la letra */
    color: var(--color-card-text); /* Ajusta el color de la letra */
    margin-top: -20px; /* Ajusta el espacio entre el título y la fecha */
  }
  
  @media (min-width: 600px) {
    .noticias-tarjeta {
      width: 50%;
    }
  }
  
  @media (min-width: 900px) {
    .noticias-tarjeta {
      width: 30%;
    }
  }